html, body {
    max-width: 100% ;
    overflow-x: hidden ;
    position: relative;
}


.font-logo{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
}

.font-title{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.font-text{
font-family: "Flamenco", system-ui;
  font-weight: 300;
  font-style: normal;
}
